<ion-view title="Dashboard" id="page3">
  <ion-content padding="true" class="has-header">
    <h2 id="dashboard-heading2" style="color:#26405D;font-weight:400;text-align:center;">GST Filing App!</h2>
    <div>
      <img src="img/gB7vSS2tQ0OzjiqXWmVl_Blog-post-05-1024x512.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="dashboard-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#8D2D2D;font-size:20px;">Easy &amp; Faster way to maintain your records, and filing your tax.</p>
    </div>
  </ion-content>
</ion-view>